In [26]:
import numpy as np
from IPython.display import display
import pandas as pd

In [43]:
df = pd.DataFrame(
    {'A':[None, 2, 3, None, 5],
     'B':[10, None, None, 40, 50],
     'C':[100, None, 300, 400,None]}
)
df_copy = df.copy()
df_copy3 = df.copy()
df_copy4 = df.copy()
display(df_copy)

     A     B      C
0  NaN  10.0  100.0
1  2.0   NaN    NaN
2  3.0   NaN  300.0
3  NaN  40.0  400.0
4  5.0  50.0    NaN

In [44]:
#Question num 1
df_copy = df_copy.dropna()
df_copy

Empty DataFrame
Columns: [A, B, C]
Index: []

In [45]:
#Question num 2
df_copy3.dropna(thresh = 1)

     A     B      C
0  NaN  10.0  100.0
1  2.0   NaN    NaN
2  3.0   NaN  300.0
3  NaN  40.0  400.0
4  5.0  50.0    NaN

In [46]:
#Question num 3
df_copy3.dropna(subset=['A', 'C'])

     A   B      C
2  3.0 NaN  300.0

In [47]:
#Question num 4
df_copy3.fillna(0)

     A     B      C
0  0.0  10.0  100.0
1  2.0   0.0    0.0
2  3.0   0.0  300.0
3  0.0  40.0  400.0
4  5.0  50.0    0.0

In [49]:
#Question num 5
df_copy4['B'] = df_copy4['B'].fillna(df_copy4['B'].mean())


df_copy4

     A          B      C
0  NaN  10.000000  100.0
1  2.0  33.333333    NaN
2  3.0  33.333333  300.0
3  NaN  40.000000  400.0
4  5.0  50.000000    NaN